<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhou.demo.persist.mapper.UserMapper">
    <resultMap id="baseResultMap" type="com.zhou.demo.persist.po.User">
        <result column="id" jdbcType="VARCHAR" property="id"></result>
        <result column="username" jdbcType="VARCHAR" property="userName"></result>
        <result column="password" jdbcType="VARCHAR" property="passWord"></result>
        <result column="statue" jdbcType="CHAR" property="statue"></result>
        <result column="role_id" jdbcType="INTEGER" property="roleId"></result>
        <result column="user_type" jdbcType="CHAR" property="userType"></result>
        <result column="real_name" jdbcType="VARCHAR" property="realName"></result>
        <result column="email" jdbcType="VARCHAR" property="email"></result>
        <result column="phone" jdbcType="VARCHAR" property="phone"></result>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"></result>
        <result column="address" jdbcType="VARCHAR" property="address"></result>
        <result column="sex" jdbcType="CHAR" property="sex"></result>
        <result column="create_by" jdbcType="INTEGER" property="createBy"></result>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"></result>
        <result column="update_by" jdbcType="INTEGER" property="updateBy"></result>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"></result>
        <result column="del_flag" jdbcType="TINYINT" property="delFlag"></result>
    </resultMap>
    <resultMap id="ResponseResultMap" type="com.zhou.demo.controller.response.UserResponse">
        <result column="id" jdbcType="VARCHAR" property="id"></result>
        <result column="username" jdbcType="VARCHAR" property="userName"></result>
        <result column="statue" jdbcType="CHAR" property="statue"></result>
        <result column="role_id" jdbcType="INTEGER" property="roleId"></result>
        <result column="user_type" jdbcType="CHAR" property="userType"></result>
        <result column="real_name" jdbcType="VARCHAR" property="realName"></result>
        <result column="email" jdbcType="VARCHAR" property="email"></result>
        <result column="phone" jdbcType="VARCHAR" property="phone"></result>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"></result>
        <result column="address" jdbcType="VARCHAR" property="address"></result>
        <result column="sex" jdbcType="CHAR" property="sex"></result>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"></result>
        <result column="del_flag" jdbcType="TINYINT" property="delFlag"></result>
    </resultMap>
    <delete id="deleteUser" parameterType="java.lang.Integer">
        update t_user set del_flag = 1 where id=#{id}
    </delete>
    <select id="queryAllUser" resultMap="ResponseResultMap" parameterType="com.zhou.demo.controller.request.SearchParams">
        select id,
        username,
        statue,
        role_id,
        user_type,
        real_name,
        email,
        phone,
        avatar,
        address,
        sex,
        create_time,
        del_flag
        from t_user
        <where>
            del_flag = 0
            <if test="keyword != null and keyword != ''"> AND username like #{keyword}</if>
        </where>
        limit #{pageindex},#{pagesize}
    </select>

    <select id="queryUserCount" resultType="java.lang.Integer"
            parameterType="com.zhou.demo.controller.request.SearchParams">
        select count(id)
        from t_user
        <where>
            del_flag = 0
            <if test="keyword != null and keyword != ''">AND  username like #{keyword}</if>
        </where>
    </select>

    <update id="updateUser" parameterType="com.zhou.demo.persist.po.User">
        update t_user set
        <if test="userName != null and userName != ''">
            username = #{userName},
        </if>
        <if test="statue != null and statue != ''">
            statue=#{statue},
        </if>
        <if test="email != null and email != ''">
            email=#{email},
        </if>
        <if test="sex != null and sex != ''">
            sex=#{sex},
        </if>
        <if test="phone != null and phone != ''">
            phone=#{phone},
        </if>
        <if test="avatar != null and avatar != ''">
            avatar=#{avatar},
        </if>
        <if test="updateBy != null and updateBy != ''">
            update_by=#{updateBy},
        </if>
        <if test="updateTime != null">
            update_time=#{updateTime}
        </if>
        where id=#{id}
    </update>

    <select id="showUserById" parameterType="java.lang.Integer" resultMap="baseResultMap">
        select
        username,statue,email,phone,avatar
        ,address,create_time
        from t_user
        where id=#{id}
    </select>
    <select id="queryUserById" parameterType="java.lang.Integer" resultMap="baseResultMap">
        select * from t_user where id = #{id}
    </select>

    <select id="queryUserByName" parameterType="String" resultMap="baseResultMap">
        select * from t_user where username = #{userName}
    </select>

    <insert id="addUser" parameterType="com.zhou.demo.persist.po.User">
        insert into t_user
        (username,password,statue,role_id,user_type,real_Name,email,phone,avatar,address,sex,create_by,create_time,update_by,update_Time,del_flag)
        values
        (#{userName},#{passWord},#{statue},#{roleId},#{userType},#{realName},#{email},#{phone},#{avatar},#{address},#{sex},#{createBy},#{createTime},#{updateBy},#{updateTime},#{delFlag})
    </insert>

</mapper>